/*** BEGIN Firefox 77 (June 2, 2020) Override URL bar enlargement ***/

  /* Compute new position, width, and padding */

  #urlbar[breakout][breakout-extend] {
    top: 5px !important;
    left: 0px !important;
    width: 100% !important;
    padding: 0px !important;
  }
  /* for alternate Density settings */
  [uidensity="compact"] #urlbar[breakout][breakout-extend] {
    top: 3px !important;
  }
  [uidensity="touch"] #urlbar[breakout][breakout-extend] {
    top: 4px !important;
  }

  /* Prevent shift of URL bar contents */

  #urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
  }

  /* Do not animate */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    animation: none !important;;
  }

  /* Remove shadows */

  #urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: none !important;
  }

/*** END Firefox 77 (June 2, 2020) Override URL bar enlargement ***/

/* NAVBAR: Highlight URL based on security */

#urlbar {
  position: relative;
    z-index: 10000001 !important;
}

#identity-box:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
    z-index: 10000000 !important;
  background: white;
  opacity: 0.2;
  transition: background 500ms linear; /* Fade in/out effekt */
}

/* BLUE..: about:config                                                                                                           */
#urlbar[pageproxystate='valid'] #identity-box.chromeUI::after { background: #0a84ff; }

/* GREEN.: https://www.github.com/                                                                                                */
#urlbar[pageproxystate='valid'] #identity-box.verifiedIdentity:after{ background: #058b00; }

/* GREEN.: https://www.google.com/                                                                                                */
#urlbar[pageproxystate='valid'] #identity-box.verifiedDomain:after{ background: #12bc00; }

/* YELLOW: https://mixed-script.badssl.com/                                                                                       */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveBlocked:after { background: #d7b600; }

/* YELLOW: https://mixed.badssl.com/                                                                                              */
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContent:after { background: #d7b600; }

/* YELLOW: https://very.badssl.com/                                                                                               */ 
#urlbar[pageproxystate='valid'] #identity-box.mixedDisplayContentLoadedActiveBlocked:after { background: #d7b600; }

/* YELLOW: https://self-signed.badssl.com/                                                                                        */
#urlbar[pageproxystate='valid'] #identity-box.certUserOverridden:after { background: #ffe900; }

/* YELLOW: Don't know an example for this                                                                                         */
#urlbar[pageproxystate='valid'] #identity-box.weakCipher:after { background: #a47f00; }

/* YELLOW: https://mixed-script.badssl.com/                                                                                       */
#urlbar[pageproxystate='valid'] #identity-box.mixedActiveContent:after { background: #d70022; }

/* RED..: http://http-login.badssl.com/                                                                                           */
#urlbar[pageproxystate='valid'] #identity-box.insecureLoginForms:after { background: #a4000f; }

/* RED..: http://www.httpvshttps.com/                                                                                             */
#urlbar[pageproxystate='valid'] #identity-box.notSecure::after { background: #a4000f; }
